header {
  background: skyblue;
  padding: 10px;
  font-size: 30px;
}

#imglogo {
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

#forVIimg {
  height: 45px;
  vertical-align: middle;
  float: right;
  margin-right: 10px;
}

h1 {
  font-size: 36px;
  margin: 0;
  color: #fc6;
}

h2 {
  margin-top: 0;
}

body {
  min-height: 100%;
  font: 14px Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: gray;
}

.sidebar {
  float: left;
  border: 1px solid black;
  width: 17%;
  padding: 5px 5px 5px 5px;
  margin: 10px 0px 20px 10px;
  font-size: 140%;
}

main {
  margin: 10px 10px 20px 20%;
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
}

footer {
  background: #333;
  padding: 5px;
  color: #fff;
  clear: left;
}

@font-face {
  font-family: "Mukta"; 
  src: url("fonts/Mukta/Mukta-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 