header {
	background: lightgrey;
	height: 40px;
	padding: 2px;
	border-bottom: 1px solid grey;
}

body {
	overflow-y: scroll;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
}
/* body of registration page */
.registration {
	padding-left: 500px;
}

h2 {
	color: brown;
}

body {
	font-family: 'Mukta', sans-serif;
	font-size: 16px;
}

@font-face {
	font-family: 'Mukta';
	src: url('fonts/Mukta-Regular.ttf')
	font-weight: normal;
}

@font-face {
	font-family: 'Mukta';
	src: url('fonts/Mukta-Bold.ttf')
	font-weight: bold;
}

@font-face {
	font-family: 'Mukta';
	src: url('fonts/Mukta-Light.ttf')
	font-weight: 300;
}

a {
	color: gray;
}
a:hover {
	color: black;
}
a:visited {
	color: purple;
}
a:active {
	text-decoration: none;
}